.bg-white
  background-color white

.bg-black
  background-color black

.bg-gray
  background-color gray

.bg-red
  background-color red

.bg-green
  background-color green

.bg-aaa
  background-color #AAA

.bg-bbb
  background-color #BBB

.bg-ccc
  background-color #CCC

.bg-ddd
  background-color #DDD

.bg-eee
  background-color #EEE

.bg-fff
  background-color #FFF
