.font8
  font-size 8px

.font9
  font-size 9px

.font10
  font-size 10px

.font11
  font-size 11px

.font12
  font-size 12px

.font13
  font-size 13px

.font14
  font-size 14px

.font15
  font-size 15px

.font16
  font-size 16px

.font17
  font-size 17px

.font18
  font-size 18px

.font19
  font-size 19px

.font20
  font-size 20px

.font22
  font-size 22px

.font24
  font-size 24px

.font26
  font-size 26px

.font28
  font-size 28px

.font30
  font-size 30px

.font40
  font-size 40px

.font50
  font-size 50px

.font60
  font-size 60px

.font70
  font-size 70px

.font80
  font-size 80px

.font90
  font-size 90px

.font100
  font-size 100px

.bold
  font-weight bold

.italic
  font-style italic
