table.td-pd0
  td
    padding 0

table.td-pd2
  td
    padding 2px

table.td-pd5
  td
    padding 5px

table.td-pd8
  td
    padding 8px

table.td-pd10
  td
    padding 10px

table.td-center
  td
    text-align center

table.td-middle
  td
    vertical-align middle

table.color-gray
  td, th, thead th, tbody, td
    color gray

table.tr-top-line
  td
    border-top 1px solid gray

table.bd0
  border 0

table.bs0
  border-spacing 0

table.tr-bg-transparent
  tbody tr, tr 
    background transparent
