.text-left
  text-align left

.text-left-i
  text-align left !important

.text-center
  text-align center

.text-center-i
  text-align center !important

.text-right
  text-align right

.text-right-i
  text-align right !important

.text-white
  color white

.text-black
  color black

.text-green
  color green

.text-yellow
  color yellow

.text-gray
  color gray

.text-red
  color red

.text-green
  color green

.text-blue
  color blue

.text-purple
  color purple
