.width1
  width 1px

.width2
  width 2px

.width4
  width 4px

.width5
  width 5px

.width10
  width 10px

.width20
  width 20px

.width30
  width 30px

.width40
  width 40px

.width50
  width 50px

.width60
  width 60px

.width70
  width 70px

.width80
  width 80px

.width90
  width 90px

.width100
  width 100px

.expand
  width 100%
