@import 'unit/margin'
@import 'unit/padding'
@import 'unit/width'
@import 'unit/height'
@import 'unit/text'
@import 'unit/color'
@import 'unit/font'
@import 'unit/display'
@import 'unit/background'
@import 'unit/list'
@import 'unit/table'

.left
  float left

.right
  float right

.half
  float left
  width 50%

.line, .bottom-line
  border-bottom 1px solid #000

.line.gray, .border-bottom.gray
  border-color gray

.foo, .bar
  margin auto

.d
  display block

.s
  display inline
