doctype 5
html
  head
    title Note
    include inc/head

  body
    .mb20
    .row
      .ten.columns.centered
        .note-adding
          .row
            .three.columns
              a.small.radius.secondary.button(href="list.html") Back
            .three.columns
              a.small.radius.secondary.button.right(href="list.html") Delete
          .mb20
          .row
            .twelve.columns
              input.twelve.note-title(type="text", placeholder="Add title")
          .row
            .twelve.columns
              textarea.note-content