doctype 5
html
  head
    title Note
    link(rel="stylesheet", href="css/foundation/stylesheets/foundation.css")
    link(rel="stylesheet", href="css/unit.css")
    link(rel="stylesheet", href="css/main.css")
    script(src="js/jquery-1.8.3.js")
    script(src="js/jquery.autosize.js")
    script(src="js/main.js")
  body
    .mb20
    .row
      .ten.columns.centered
        .note-adding
          .row.mb20
            .three.columns
              a.small.radius.secondary.button(href="list.html") Back
            .three.columns
              a.small.radius.secondary.button.at-right(href="list.html") Delete
          .row
            .twelve.columns
              input.twelve.note-title(type="text", placeholder="Add title")
          .row
            .twelve.columns
              textarea.note-content